@model IEnumerable<Group8Project.Models.CandidatePolicy>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PolicyDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CandidateTable.CandidateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PolicyyTable.PolicyName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PolicyDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CandidateTable.CandidateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PolicyyTable.PolicyName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CandidatePolicyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CandidatePolicyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CandidatePolicyID })
        </td>
    </tr>
}

</table>
